.about {
  background-image: url("../images/fall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

img{
  margin: 10px;
  float: left;
}

em {
  font-style: italic;
}

.seattle {
  background-image: url("../images/seattle.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.born {
  border: 5px solid green;
  padding: 10px;
  margin: 12px;
  background-color: white;
}

.border{
  border: 5px solid green;
  padding: 20px;
  background-color: #fff;
  margin: 0 auto;
}


.links{
  text-align: center;
  font-size: 30;
  letter-spacing: 3px;
  word-spacing: 10px;
  text-decoration-color: white;
}

.tabs{
  word-spacing: 0px;
}

.body{
  text-size 40px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
