body {
  background-image: url("images/fall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
}
.born {
  border: 5px solid green;
  padding: 10px;
  margin: 12px;
  background-color: white;
}

.border{
  border: 5px solid green;
  padding: 10px;
  margin: 10px;
  margin: 12px;
  background-color: white;
  width: 48%
}
.kadah {
  text-align: center;
  font-size: 80px;
  font-style: italic;
}
.omar{
  color:Black;
  font-style: italic;
}

.links{
  text-align: center;
  font-size: 30;
  letter-spacing: 3px;
  word-spacing: 10px;
  text-decoration-color: white;
}

.tabs{
  word-spacing: 0px;
}

.body{
  text-size 40px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
